@font-face {
    font-family: 'le-turfu';
    src: url(polices/Nebula-Regular.otf);
}
@font-face {
    font-family: 'leturfumaispourlestitres';
    src: url(polices/Nebula-Hollow.otf);
}
body{
    background-image: url(images/7a9c567fe1bda61c5d8c1a8fcf105890.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
p{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: 'le-turfu';
    color: white;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-family:'leturfumaispourlestitres' ;
    font-size: 400%;
    color: rgb(123, 0, 206);
}
.BL{
    text-align: left;
}
.conteneur {
    display: flex;
    align-items: center; 
}
img {
    display: inline-block; 
    margin-left: 10px; 
    vertical-align: middle; 
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}
.menu ul {
    list-style: none;
    padding: 0;
    background-color: #000;
    text-align: center;
}

.menu li {
    display: inline;
    margin: 0 20px;
    font-family: 'leturfumaispourlestitres';
}

.menu a {
    text-decoration: none;
    color: rgb(153, 0, 255); 
    font-size: 25px; 
    padding: 10px 20px; 
}

.menu a:hover{
    background: gray; 
    }
