body
{background-image:url(img/arriere\ plan\ tintin.png);

img{
    display: block;
    margin:auto
}

#para1
{font-size:xx-large;
 font-style: italic;
 color: white;
}

#para2
{font-size: x-large;
font-family:'Times New Roman', Times, serif;
color: white;
}
}

#para3
{font-size: xx-large;
font-family: cursive;
color: white;
}

#para4
{font-size:medium;
color: white;
text-align: center;
}
